<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="this is an static page, a project for learning web development">
    <meta name="author" content="Arrocito82 Andrea Melissa Monterrosa Morales ">

    <title>ToDo List</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

    <div class="box">
        <h1 id="heading">
            <%= weekDay %>
        </h1>

        <ul>
            <% listOfItems.forEach(element => { %>
                <li>
                    <%= element %>
                </li>
                <% }); %>

        </ul>
        <div class="item">
            <form action="/" method="POST">
                <input type="text" name="newItem" placeholder="Add new item">
                <button type="submit">+</button>
            </form>
        </div>

    </div>




</body>

</html>