html {
    background-color: #d4f3ef;
    background-image: -webkit-linear-gradient(70deg, #abf0e9 50%, #d4f3ef 50%);
    min-height: 1000px;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    position: relative;
}

h1,
.h1,
.h3 {
    color: #fff;
    padding: 1rem;
}

h5 {
    color: #fff;
}

.container {
    width: 50%;
}

body {
    background-color: transparent;
}

.box {
    background: white;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #abf0e9;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-family: 'Alata', sans-serif;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    lighting-color: #63b7af;
    text-decoration-color: #63b7af;
}

input:checked {
    background-color: #63b7af;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
    text-transform: capitalize;
}

form {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #abf0e9;
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 3px;
    border-width: 0;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

 ::placeholder {
    color: grey;
    opacity: 1;
}

footer div {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding-bottom: 1rem;
}